<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<div class="container">
    <img src="/static/DNA_graphic.jpg">


<h2>Zmieniarka DNA</h2>

{{ username }} [<a href="/logout">wyloguj</a>]
    <hr>



<h2>Wybór opcji</h2>
<p>Wprowadzona sekwencja:</p>
<p>{{ dane }}</p>

<p>Co chcesz otrzymać?</p>

<form action="/zmiana">
  <input type="radio" name="typ" value="reverse" checked> DNA nić odwrócona<br>
  <input type="radio" name="typ" value="RNA"> RNA<br>
  <input type="radio" name="typ" value="protein"> Białko<br><br>
  <input type="submit">
</form>
<br>
<a href="../">Zacznij od początku!</a>

</body>
</html>